# Create Heatmaps for Weather Parameters with Google Maps API

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sambava,MG,2020-06-18 16:44:57,-14.27,50.17,72.32,83,100,18.03
1,1,Provideniya,RU,2020-06-18 16:44:58,64.38,-173.30,56.21,57,12,2.68
2,2,Nerja,ES,2020-06-18 16:44:58,36.76,-3.89,73.99,75,76,1.79
3,3,Nieuw Amsterdam,SR,2020-06-18 16:44:58,5.88,-55.08,87.80,58,75,9.17
4,4,Chkalovsk,RU,2020-06-18 16:44:58,56.76,43.24,69.80,60,20,4.47

In [3]:
# One caveat to using gmaps: The data used for any mapping must be either an integer or a floating-point decimal
# number. Check the data types for the columns of our DataFrame.

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# The general syntax for creating a heatmap is as follows:

# 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]

# 2. Assign the weights variable to some values.
# temperatures = # an array of equal length of the locations array.

# 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
# fig

## Create a Maximum Temperature Heatmap

In [7]:
# Google heatmaps do not plot negative numbers. A maximum temperature that is less than 0 °F, will get an 
# InvalidWeightException error for this line of code: heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

In [8]:
# Remove the negative temperatures by using a for loop to iterate through the max_temp and add the temperatures
# that are greater than 0 °F to a new list. Use the max() function to get the largest value between the temp and 0.
# If the temp is less than 0, 0 will be added to the list in its place. Otherwise, the temp is added to the list.

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variables.
# Add the geographic center of Earth in latitude and longitude (30.0° N and 31.0° E).
# Also, add a zoom level so that only one map of Earth is shown.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.7)

# Assign the heatmap variable using the for loop above:
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# Assign the heatmap variable using list comprehension
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# The default option for dissipation is “True,” so set “dissipation” to “False”, add max_intensity to make each
# measurement have a better gradient variance, add point_radius to make each measurement radius larger.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Percent Humidity Heatmap

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Percent Cloudiness Heatmap

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Create a Wind Speed Heatmap

In [12]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Get Vacation Temperature Criteria From User

In [13]:
# Use the input() statement to prompt a user to enter information. To convert the input to a floating-point decimal
# number, wrap the input() statement with the float() method
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 78
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Nieuw Amsterdam,SR,2020-06-18 16:44:58,5.88,-55.08,87.80,58,75,9.17
6,6,Grajau,BR,2020-06-18 16:44:58,-5.82,-46.14,87.21,40,0,7.31
9,9,Puerto Ayora,EC,2020-06-18 16:44:59,-0.74,-90.35,80.60,57,20,19.46
11,11,Pirgos,GR,2020-06-18 16:44:59,35.12,25.72,81.00,61,0,11.01
12,12,Georgetown,MY,2020-06-18 16:45:00,5.41,100.34,84.20,79,20,4.70
13,13,Atuona,PF,2020-06-18 16:45:00,-9.80,-139.03,79.30,78,39,11.79
20,20,Victoria,HK,2020-06-18 16:45:01,22.29,114.16,84.00,74,3,4.00
21,21,Arraial Do Cabo,BR,2020-06-18 16:45:01,-22.97,-42.03,78.80,54,20,17.22
22,22,Hithadhoo,MV,2020-06-18 16:45:02,-0.60,73.08,84.58,77,95,11.41
23,23,Pozo Colorado,PY,2020-06-18 16:45:02,-23.49,-58.80,82.26,52,44,8.93

In [15]:
# Determine if there are any null values
preferred_cities_df.count()

City_ID       162
City          162
Country       162
Date          162
Lat           162
Lng           162
Max Temp      162
Humidity      162
Cloudiness    162
Wind Speed    162
dtype: int64

## Get Travel Destinations

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
3   Nieuw Amsterdam      SR     87.80   5.88  -55.08
6            Grajau      BR     87.21  -5.82  -46.14
9      Puerto Ayora      EC     80.60  -0.74  -90.35
11           Pirgos      GR     81.00  35.12   25.72
12       Georgetown      MY     84.20   5.41  100.34
13           Atuona      PF     79.30  -9.80 -139.03
20         Victoria      HK     84.00  22.29  114.16
21  Arraial Do Cabo      BR     78.80 -22.97  -42.03
22        Hithadhoo      MV     84.58  -0.60   73.08
23    Pozo Colorado      PY     82.26 -23.49  -58.80

## Retrieve Hotels from a Nearby Search and Iterate Through hotel_df DataFrame

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [18]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name. Use a try except to deal with errors
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

## Create a Max Temp Heatmap from the Hotel DataFrame with Markers

In [19]:
# Add a pop-up marker for each city that displays the hotel name, city name, country, and maximum temperature 
# By adding an info_box_template that has the following syntax:

#info_box_template = """
#<dl>
#<dt>Name</dt><dd>{column1}</dd>
#<dt>Another name</dt><dd>{column2}</dd>
#</dl>
#"""

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row: set the hotel_info equal to the info_box_content. In the list comprehension, iterate 
# through each “row” of the hotel_df DataFrame and then format the info_box_template with the data we set to populate
# the from each row. We are not using every row; we are only using the rows defined in the info_box_template, which
# are Hotel Name, City, Country, and Max Temp.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)

# Add markers on top of the heatmap for each city and hotel
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))