# Part 3
## Create a Travel Itinerary with a Corresponding Map

In [1]:
# Import dependencies
import pandas as pd
import gmaps
import gmaps.datasets

# Import Google API Key
from config import g_key

In [2]:
# Store the saved CSV as a new DataFrame.
vacation_location_df = pd.read_csv("data/WeatherPy_vacation.csv")
vacation_location_df.head()

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,San Patricio,MX,84.20,few clouds,19.22,-104.70,Hotel Cabo Blanco
1,3,Atkinson,US,81.00,clear sky,42.84,-71.15,Atkinson Resort & Country Club
2,11,Kapaa,US,82.99,scattered clouds,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
3,21,Iralaya,HN,82.40,scattered clouds,15.00,-83.23,Iglesia morava renovada
4,23,Kailua,US,84.20,broken clouds,21.40,-157.74,Sheffield House Bed & Breakfast

In [3]:
# Pull data for eah of the 4 cities into new dfs
city_1_df = vacation_location_df.loc[(vacation_location_df["City"] == "Tomatlan")]
city_2_df = vacation_location_df.loc[(vacation_location_df["City"] == "Coahuayana")]
city_3_df = vacation_location_df.loc[(vacation_location_df["City"] == "Acapulco")]
city_4_df = vacation_location_df.loc[(vacation_location_df["City"] == "San Patricio")]

In [4]:
# pull Lat and lng values for each city into tuple
city_1 = city_1_df["Lat"].values[0], city_1_df["Lng"].values[0]
city_2 = city_2_df["Lat"].values[0], city_2_df["Lng"].values[0] 
city_3 = city_3_df["Lat"].values[0], city_3_df["Lng"].values[0] 
city_4 = city_4_df["Lat"].values[0], city_4_df["Lng"].values[0]

In [5]:
# create a direction layer map for the 4 cities
fig = gmaps.figure(g_key)
cities = gmaps.directions_layer(city_1, city_3, waypoints= [city_4,city_2], travel_mode='DRIVING')
fig.add_layer(cities)
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# combine the 4 cities into a single dataframe
cities_df = pd.concat([city_1_df, city_2_df, city_3_df, city_4_df])

In [7]:
cities_df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
51,248,Tomatlan,MX,82.51,clear sky,19.93,-105.25,Norma franco
32,144,Coahuayana,MX,82.40,smoke,18.73,-103.68,Hotel Los Arcos
26,106,Acapulco,MX,86.00,scattered clouds,16.86,-99.89,HS Hotsson Smart Acapulco
0,2,San Patricio,MX,84.20,few clouds,19.22,-104.70,Hotel Cabo Blanco

In [8]:
# Create info_box_templtate format
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame hotel row
hotel_info = [info_box_template.format(**row) for index, row in cities_df.iterrows()]

In [9]:
#Define locations and fig
locations = cities_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)

# Add markers on top of the marker map for each city and hotel
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))